.sliders {
  display: flex;
  justify-content: center;
  margin: 1em 0px;

  @media screen and(min-width: 1200px) {
    margin-top: 0px;
  }

  .slider {
    $size: 12px;
    $background: #ddd;

    background-color: $background;
    border-radius: 50%;
    cursor: pointer;
    height: $size;
    width: $size;

    + .slider {
      margin-left: 10px;
    }

    &.slider--checked {
      background-color: darken($color: $background, $amount: 50%);
    }
  }
}
